.section {
    background-color: hsl(0, 0%, 100%);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .section {
        justify-content: center;
    }
}

.section__header {
    padding-left: 20px;
    border-bottom: 2px solid hsl(0, 0%, 93%);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .section__header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .section__titleText {
        flex-basis: 100%;
    }
}