.taskList {
    background-color: hsl(0, 0%, 100%);
    list-style: none;
    padding: 20px 5px;
    margin-top: 2px;
}

.taskList__listItem {
    border-bottom: hsl(0, 0%, 93%) solid 1px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.taskList__listItem--hiden {
    display: none;
}

.taskList__button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: hsl(120, 100%, 25%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    flex-shrink: 0;
    transition: 0.5s;
    cursor: pointer;
}

.taskList__button:hover {
    background-color: hsl(120, 100%, 30%);
}

.taskList__button:active {
    background-color: hsl(120, 100%, 35%);
}

.taskList__button--removeButton {
    background-color: hsl(0, 100%, 50%);
}

.taskList__button--removeButton:hover {
    background-color: hsl(0, 100%, 60%);
}

.taskList__button--removeButton:hover {
    background-color: hsl(0, 100%, 70%);
}

.taskList__taskContent {
    word-break: break-word;
    padding: 0px 10px;
    flex-grow: 1;
}

.taskList__taskContent--done {
    text-decoration: line-through;
}