.buttons__buttonsContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .buttons__buttonsContainer {
        flex-direction: column;
    }
}

.buttons {
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(180, 100%, 25%);
    margin: 10px 20px 10px 0px;
    transition: 0.5s;
    cursor: pointer;
}

.buttons:hover {
    color: hsl(180, 100%, 35%);
}

.buttons:active {
    color: hsl(180, 100%, 45%);
}

.buttons:disabled {
    color: hsl(0, 0%, 80%);
}